.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2980b9;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 200;

  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sideIcons {
      cursor: pointer;

      .sideBtn {
        height: 2px;
        width: 20px;
        background-color: #ffff;
        transition: transform 0.3s ease-in-out;

        &:first-child {
          margin-bottom: 6px;
        }
      }

      .openSideBtn {
        width: 30px;
        transform: rotate(-45deg);
        margin-top: -2px;

        &:first-child {
          margin: 0;
          transform: rotate(45deg);
        }
      }
    }

    .navContainer {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        color: #ffff;
      }

      .mobileLogoLink {
        width: 10%;
        color: #ffff;

        .mobileLogoImage {
          height: auto;
          width: 45px;
        }
      }
    }
  }
}

.sideContent {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #2980b9;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  .sideContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;

    a {
      text-decoration: none;
      color: #ffff;

      h3 {
        padding: 15px 0;
        font-size: 25px;
        border-top: 2px solid #ffff;
      }
    }

    &:last-child {
      border-bottom: 2px solid #ffff;
    }
  }
}

.open {
  left: 0;
}

@media (max-width: 500px) {
  .navContainer {
    h3 {
      padding-left: 15px;
    }
  }
}
