.charactersPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .charactersCards {
    cursor: pointer;
    width: 18%;
    background-color: #eeecec;
    box-shadow: 5px 5px 0px rgb(0 0 0 / 15%);
    color: brown;
    padding: 20px 0px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    @media only screen and (max-width: 510px) {
      width: 80%;
    }

    @media (min-width: 511px) and (max-width: 1024px) {
      width: 200px;
    }

    h3 {
      margin-top: 10px;
    }

    .charactersImage {
      border-radius: 15px;
      width: 60%;
    }

    &:hover {
      transform: scale(1.05); /* Увеличение карточки */
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Увеличение тени */
      background-color: #d1d1d1; /* Изменение цвета фона */
    }
  }
}
