* {
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #fffff0;
}

.container {
  width: 80%;
  margin: 20px auto;
  margin-top: 60px;
}

.charactersPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.charactersCards {
  cursor: pointer;
  width: 18%;
  background-color: bisque;
  color: brown;
  padding: 20px 0px;
  text-align: center;
  word-wrap: break-word;
  border-radius: 15px;
}

h3 {
  margin-top: 10px;
}

h2 {
  margin: 15px 0px;
}

.charactersImage {
  border-radius: 15px;
  width: 60%;
}

.character {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterBackground {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-radius: 15px;
  background-color: #f0f0f0;
}

.characterInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  line-height: 25px;
  border-radius: 15px;
  text-align: center;
}

.characterImage {
  width: 75%;
  border-radius: 15px;
}

.episodesContainer {
  width: 50%;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #4a90e2;
}

.episodeList {
  list-style: none;
  padding: 0;
  text-align: center;
}

.episodeItem {
  cursor: pointer;
  background: #f9f9f9;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.episodeItem:hover {
  transform: translateY(-5px);
}

.episodeName {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.episodeDate {
  font-size: 1em;
  color: #666;
}

.notHover:hover {
  cursor: auto;
  transform: none;
}
