.container {
  width: 80%;
  margin: 20px auto;
  margin-top: 7%;

  .title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4a90e2;

    @media (max-width: 600px) {
      font-size: 33px;
    }
  }
}
